@tailwind base;
@tailwind components;
@tailwind utilities;

.font-pops {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
